.video-js {
  height: 100% !important;
  padding: 0 !important;
  background: theme("colors.black.900") !important;
}

.video-js:hover .vjs-big-play-button {
  background: theme("colors.black.500/0.8") !important;
}

.vjs-big-play-button {
  background: theme("colors.black.900") !important;
  border: none !important;

  transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-property: background !important;
}

.vjs-icon-placeholder::before {
  color: theme("colors.white");
}

.vjs-progress-holder {
  background: theme("colors.black.500") !important;
}

.vjs-load-progress {
  background: none !important;
}

.vjs-load-progress div {
  background: theme("colors.gray.300") !important;
}

.vjs-control-bar {
  background: theme("colors.black.900/0.7") !important;
}
