.video-js.vjs-fluid:not(.vjs-audio-only-mode) {
  height: 100%;
  padding: 0;
  background: theme("colors.black.900");
}

.video-js:hover .vjs-big-play-button {
  background: theme("colors.black.500/0.8");
}

.video-js .vjs-big-play-button {
  background: theme("colors.black.900");
  border: none;

  @apply transition-colors;
}

.video-js .vjs-icon-placeholder::before {
  color: theme("colors.white");
}

.video-js .vjs-progress-holder {
  background: theme("colors.black.500");
}

.video-js .vjs-load-progress {
  background: none;
}

.video-js .vjs-load-progress div {
  background: theme("colors.gray.300");
}

.video-js .vjs-control-bar {
  background: theme("colors.black.900/0.7");
}
