.video-js[data-custom="true"].vjs-fluid:not(.vjs-audio-only-mode) {
  height: 100%;
  padding: 0;
  background: theme("colors.black.900");
}

.video-js[data-custom="true"]:hover .vjs-big-play-button {
  background: theme("colors.black.500/0.8");
}

.video-js[data-custom="true"] .vjs-big-play-button {
  background: theme("colors.black.900");
  border: none;

  @apply transition-colors;
}

.video-js[data-custom="true"] .vjs-icon-placeholder::before {
  color: theme("colors.white");
}

.video-js[data-custom="true"] .vjs-progress-holder {
  background: theme("colors.black.500");
}

.video-js[data-custom="true"] .vjs-load-progress {
  background: none;
}

.video-js[data-custom="true"] .vjs-load-progress div {
  background: theme("colors.gray.300");
}

.video-js[data-custom="true"] .vjs-control-bar {
  background: theme("colors.black.900/0.7");
}

@container (min-width: 0px) {
  .vjs-vertical-container {
    height: calc(min(var(--height), 100cqw / var(--ratio)));
  }
}
